@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
::backdrop,
dialog {
	--root-background: #131c14;
	--text-color: #c6d8c8;
	--link-color: #55eb69;
	--paper-level-1: rgb(66 98 70 / 0.2);
	--paper-level-1-outline: #426246;
	--secondary-button-active: rgb(66 98 70 / 0.8);
	--secondary-button-active-outline: #8fb393;
	--text-field: transparent;
	--text-field-outline: #527a57;
	--text-field-placeholder: rgb(198 216 200 / 0.6);
	--primary-button: rgb(38 103 46 / 0.8);
	--primary-button-outline: #5ee46d;
	--primary-button-text: #bbf9c3;
	--error-paper: rgb(53 8 8 / 0.8);
	--error-paper-outline: rgb(155 24 24);
	--error-paper-text: #ffb8b8;
	--modal-backdrop: rgb(4 28 2 / 0.25);
	--modal-background: #1c2a1e;
	--error-button: rgb(227 16 16 / 0.3);
	--error-button-outline: #fe5555;
	--logo-font: 'Rammetto One', sans-serif;

	scrollbar-color: var(--text-color) var(--text-field-outline);
}

dialog {
	color: var(--text-color);
}

html {
	background-color: var(--root-background);
	color: var(--text-color);
}

a:not([data-not-standard]) {
	color: var(--link-color);
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: var(--text-field-outline);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background: var(--text-color);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--link-color);
}

@layer utilities {
	@supports (height: 1svh) {
		.h-screen {
			height: 100svh;
		}
	}
}
